.responsive {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 700px){
   
    .table{
        font-size: 8px;
    }
}

.info-message{
  font-size: 18px;
}

.button{
      margin-top: 23px;
}